@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f5deb3;
  --dark: #000000;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--primary);
  height: 105dvh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--dark);
  color: var(--primary);
  align-items: center;
  margin: 1rem;
  border-radius: 1.5rem;
}

.navbar .logo {
  font-size: 1.1rem;
  padding: 0.5rem;
}

.navbar .menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar .menu ul li {
  padding: 1rem;
  cursor: pointer;
}

/* hero section */

.hero {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 1rem;
}

.hero img {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

/* section text */

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.text h1 {
  font-size: 3rem;
  line-height: 1;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.text h1 span {
  color: red;
}

.btn {
  background: var(--dark);
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0.8rem;
  border: none;
  border-radius: 1.5rem;
  width: 13%;
}

.btn a {
  text-decoration: none;
  color: var(--primary);
}

/* Responsive */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar .menu li {
    font-size: 0.6rem;
  }

  .hero {
    grid-template-columns: 50% 50%;
    /* margin: 0.5rem; */
  }

  .text {
    margin: 1rem;
  }

  .text p {
    text-align: center;
  }

  .text h1 {
    text-align: center;
    font-size: 2rem;
  }

  .btn {
    width: 50%;
  }
}
